@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");

body {
  /* background: #eeeff1; */
  background: #fff;
  box-sizing: border-box;
  margin: 0%;
}

@font-face {
  font-family: "brand";
  src: url("/fonts/NoeDisplay-Medium.ttf");
}

@font-face {
  font-family: "heading1";
  src: url("/fonts/Charter-Bold.ttf");
}

@font-face {
  font-family: "heading2";
  src: url("/fonts/MaratPro-Bold.otf");
}

@font-face {
  font-family: "text";
  src: url("/fonts/Neo-Sans-Std-Regular.otf");
}

h4 {
  font-family: "Bitter", sans-serif;
  margin: 0;
}

.navBar {
  align-items: center;
  background: #fff;
  display: flex;
  height: 4rem;
  position: fixed;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.logo {
  padding: 0 40% 0 10rem;
  margin-top: 21px;
  /* margin-right: 70px; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.logo a {
  color: #242424;
  text-decoration: none;
  font-family: "brand";
  font-size: 20px;
  letter-spacing: 1.5px;
}

li {
  display: table-cell;
}

ul {
  display: table;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

a {
  text-decoration: none;
  color: #242424;
  font-size: medium;
  font-family: "Assistant 300", sans-serif;
  letter-spacing: 0.05em;
  /* font-family: "Assistant 300", sans-serif;
  color: #242424;
  letter-spacing: 0.05em;
  padding: 7px 20px;
  text-decoration: none;
  font-size: small; */
  /* text-transform: uppercase; */
}

.home {
  padding: 7px 20px;
}

.about {
  padding: 7px 20px;
}

.clients {
  padding: 7px 20px;
}

/* a:after { */
/* background: none repeat scroll 0 0 transparent; */
/* transition: width 0.4s ease 0s, left 0.3s ease 0s; */
/* background: #384ea8;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
width: 0; */
/* } */

/* a:hover:after {
  left: 3%;
  width: 90%;
} */

a.active {
  /* color: #c90e2d; */
  color: #1b6296;
  font-family: "Assistant 300", sans-serif;
  left: 3%;
  width: 90%;
  position: relative;
}

a.active:after {
  color: #1b6296;
  left: 3%;
  width: 90%;
}

.banner {
  height: 30rem;
  background-color: #1b6296;
  background-image: url("/images/blue-leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.bannerHeading {
  color: #eeeff1;
  font-family: "heading1";
  padding: 11rem 0 0 10rem;
  margin: 0;
  font-size: 3rem;
  inline-size: 35rem;
  line-height: 3.2rem;
  letter-spacing: 1.5px;
}

.bannerText {
  color: #eeeff1;
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  padding-left: 10rem;
  inline-size: 35rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
}

button {
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
}

.btnContact1 {
  background-color: #1b6296;
  border: #1b6296;
  margin-left: 10px;
  border-width: 1px;
  font-size: small;
  width: 9em;
}

.btnContact2 {
  background: #fff;
  border: #1b6296;
  margin-left: 10rem;
  border-width: 1px;
  border-style: solid;
  width: 13em;
  height: 3em;
}

.btnContact1 a {
  text-decoration: none;
  color: #fff;
  font-family: "Assistant 300", sans-serif;
  letter-spacing: 0.05em;
}

.btnContact2 a {
  text-decoration: none;
  color: #1b6296;
  font-family: "Assistant 300", sans-serif;
  letter-spacing: 0.05em;
}

.contactNum {
  font-size: 14px;
  font-family: "text", sans-serif;
  inline-size: 35rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #1b6296;
}

/* .btnContact2 :hover {
  color: #fff;
} */

#content {
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  color: #242424;
  display: flex;
  font-family: "Black 900", sans-serif;
  font-size: larger;
  position: relative;
  text-align: justify;
  padding: 0 10rem;
}

.cPic {
  max-width: 55%;
  height: 20em;
  float: right;
  padding-top: 2rem;
  padding-right: 10rem;
  margin: 5rem 0rem 0rem 40%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
}

.contentHeading {
  font-family: "heading2";
  padding-top: 1rem;
}

.cNote1 {
  /* height: 50vh; */
  font-size: medium;
  font-family: "text", sans-serif;
  inline-size: 35rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.cNote2 {
  /* height: 50vh; */
  font-size: medium;
  font-family: "text", sans-serif;
  inline-size: 60rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.cPoints {
  font-family: "text";
  line-height: 1rem;
  font-size: medium;
}

.learn {
  background-color: #1b6296;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: small;
  border-radius: 5px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin: 0;
  justify-content: center;
}

.cardNo {
  margin-top: -1.4rem;
  margin-left: -1rem;
  width: 3rem;
  z-index: 10;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.cardCover {
  margin: 3rem 0 3rem 3rem;
  padding: 0;
}

.card {
  /* width: calc(var(--base-grid) * 35);
  height: calc(var(--base-grid) * 35); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 19rem;
  background-color: #fff;
}

/* .card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 19rem;
  background-color: #fff;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 19rem;
  background-color: #fff;
} */

/* .cardHeader {
  align-content: center;
  justify-content: center;
} */

.cardHeading1 {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  font-family: "Bitter", serif;
  margin-top: -10.5rem;
  line-height: 2.5rem;
  margin-bottom: 3.5rem;
  /* z-index: 10; */
  /* text-align: center; */
  /* inline-size: 13rem; */
  /* padding: 5px 0; */
}

.cardHeading2 {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  font-family: "Bitter", serif;
  margin-top: -9rem;
  line-height: 2.5rem;
  margin-bottom: 4.5rem;
}

.cardHeading3 {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  font-family: "Bitter", serif;
  margin-top: -9rem;
  line-height: 2.5rem;
  margin-bottom: 4.5rem;
}

/* .cardContainer h4 {
  padding: 40px;
  text-align: left;
} */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.cardContainer {
  flex-direction: column;
}

/* .imgContainer {
  height: 20px;
} */

.cardImage {
  /* background-image: url("/images/blue-leaves.jpg"); */
  max-width: 19rem;
  background-size: cover;
  background-color: #1b6296;
}

.cardNote1 {
  font-family: "text", sans-serif;
  padding: 0 0 20px 25px;
  font-size: 15px;
  inline-size: 16rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: left;
}

.cardNote2 {
  font-family: "text", sans-serif;
  padding: 0 0 20px 25px;
  font-size: 15px;
  inline-size: 16rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: left;
}

.cardNote3 {
  font-family: "text", sans-serif;
  padding: 0 0 20px 25px;
  font-size: 15px;
  inline-size: 16rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: left;
}

.footer {
  align-items: center;
  background-color: #242424;
  display: flex;
  height: 5rem;
  width: 100%;
  justify-content: center;
}

.footerNote {
  color: #fff;
  font-family: "heading1";
  font-size: small;
  letter-spacing: 0.8px;
}
